/* ===========Root Variable Starts======== */
:root{
    /* ----------color----------- */
  
    --white: #f1f1f1;
    --head-white:#ffffff;
    --yellow: #f4ec55;
    --yellow-dark: yellow;
    --pink: #be24a9;
    --blue:#3d54c8;
    --sky-blue:#6ed1fb;
    --ash:#52485c;
    --nav-bg: #161946;
    --bg-linear1:rgba(19, 22, 67, 0.635);
    --bg-linear2:rgba(10, 12, 39, 0.938);
    --bg-linear3: #5d3a6e;
    --bg-linear4:rgba(19, 22, 67, 0.938);
    --head-color1:#b0aff5;
    --black:#020202;
    --light-sky:#acd2eb;
  
    /* ----------font------------- */
    --pt-sarif: 'PT Serif', serif;
    --abril-fatface:'Abril Fatface', cursive;
    --euphoria:'Euphoria Script', cursive;
  }
  
  
  /* ===========Root Variable Ends======== */
  
  @media(max-width:575.98px){
    /* ---------Common Section-----------*/
    .common__head__bottom {
      font-size: 32px;
      line-height: 35px;
    }
    .common__head__top {
       font-size: 24px;
      line-height: 12px;
      letter-spacing: 5px;
    }
    /* ---------Navbar---------- */
    .navbar-brand{
      width: 100%;
    }
    .side__nav {
      height: 80px;
      flex-direction: row;
      gap: 23px;
      z-index: 1;
      width: 100%;
     justify-content: right;
    }
  .navbar-brand img{
      width: 60px;
      height: 60px;
      max-width: 100%;
      max-height: 100%;
  }
  .navbar-toggler{
     width: auto;
      text-align: right;
      margin-top: 10px;
      background-color: var(--ash);
      height: 50px;
  }
  .navbar-nav {
    width: 130px;
    margin-top: 220px;
    padding: 20px;
    background-color: var(--ash);
  
  }
    .nav-item{
      font-size: 12px;
      padding: 2px 0;
    }
    .navbar-collapse {
      flex-basis: 20%;
      flex-grow: 0;
      align-items: right;
    }
  /* --------------Banner Start-------------- */
  #banner {
    padding: 80px 20px 80px 80px;
    margin: 0 auto;
  }
    .banner__head{
      padding-top: 100px;
      font-size: 40px;
      line-height: 0px;
    }
    .creative{
      font-size: 25px;
      top: 55px;
    }
    .text{
      bottom: -70px;
      font-size: 30px;
      width: 60%;
    }
    .banner__img{
      display: none;
    }
    .social__wrap{
      margin: 35px 0 0 -10px;
      display: flex;
      gap: 20px;
    }
  /* --------------Banner End-------------- */
  /* --------------About Start-------------- */
  
  #about{
      margin-left: 0;
    }
    .about__img{
      display: none;
    }
    .about__right {
      margin: 40px 20px 50px 30px;
    }
    .about__head {
      font-size: 18px;
      line-height: 11px;
    }
    .about__p {
      font-size: 14px;
      line-height: 26px;
    }
    button.nav-link {
      padding: 6px 22px !important;
      font-size: 16px;
    }
    .table > :not(caption) > * > * {
      padding: 0.4rem 0.2rem;
    }
    .table__title {
      font-size: 13px;
    }
    .table__p {
      font-size: 13px;
    }
  /* --------------About End-------------- */
  /* --------------Service Start-------------- */
  #service{
      margin-left: 0;
      padding: 40px 0;
    } 
    .service__item {
      width: 245px;
    
    }
    .service__title {
      margin: 28px 0;
      font-size: 18px;
    }
    .service__p {
      font-size: 12px;
      line-height: 26px;
    }
    .service__icon {
      font-size: 36px;
    }
  /* --------------Service End-------------- */
  /* --------------Portfolio Start-------------- */
  #portfolio{
      margin-left: 0;
      padding: 40px 0;
    } 
    .portfolio__btn {
      font-size: 14px;
      line-height: 20px;
      padding: 5px 3px;
      border-radius: 2px;
    }
    .portfolio__item {
      width: 245px;
      height: 250px;
      padding: 10px 5px 10px 5px;
      border-radius: 2px;
    }
    .portfolio__item__img {
    max-width: 100%;
    max-height: 72%;
  
    }
    .portfolio__item__head {
      margin-top: 15px;
      font-size: 15px;
      line-height: 16px;
    }
    .portfolio__link {
      font-size: 13px;
    }
  /* --------------Portfolio End-------------- */
  /* --------------Blog Start-------------- */
  #blog{
     margin-left: 0;
     padding: 40px 0px;
   }
   .blog__item {
    width: 166px;
    padding: 8px 5px;
  }
  .blog__wrap {
    gap: 10px;
  }
  .blog__img {
    width: 155px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .blog__date {
    font-size: 9px;
  }
  .blog__link {
    font-size: 9px;
  }
  .blog__head {
    font-size: 12px;
    line-height: 18px;
  }
  .blog__p {
    font-size: 10px;
    line-height: 20px;
  }
  /* --------------Blog End-------------- */
  /* --------------Contact Start-------------- */
  #contact{
      margin-left: 0;
      padding: 40px 0;
    }
    .connect__head {
      font-size: 18px;
    }
    .connect__p, .connect__p1 {
      margin: 34px 0px;
      font-size: 13px;
      line-height: 22px;
    }
    .connect__p1{
      margin: 0;
    }
    .nam, .email {
      height: 34px;
    }
    .connect__form {
      margin: 50px 0 0 100px;
      row-gap: 12px;
    }
    .connect__form button {
      margin-top: 22px;
      padding: 4px;
    }
  /* --------------====Contact End-------------- */
  }
    /*=========== Extra small responsive  CSS END======== */
  