/* ===========Root Variable Starts======== */
:root{
    /* ----------color----------- */
  
    --white: #f1f1f1;
    --head-white:#ffffff;
    --yellow: #f4ec55;
    --yellow-dark: yellow;
    --pink: #be24a9;
    --blue:#3d54c8;
    --sky-blue:#6ed1fb;
    --ash:#52485c;
    --nav-bg: #161946;
    --bg-linear1:rgba(19, 22, 67, 0.635);
    --bg-linear2:rgba(10, 12, 39, 0.938);
    --bg-linear3: #5d3a6e;
    --bg-linear4:rgba(19, 22, 67, 0.938);
    --head-color1:#b0aff5;
    --black:#020202;
    --light-sky:#acd2eb;
  
    /* ----------font------------- */
    --pt-sarif: 'PT Serif', serif;
    --abril-fatface:'Abril Fatface', cursive;
    --euphoria:'Euphoria Script', cursive;
  }
  
  
  /* ===========Root Variable Ends======== */
  /* ========Common CSS Starts=========== */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul.ol{
    list-style: none;
  }
  a{
   text-decoration: none; 
  }
  
  h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8px;
  }
  
  .common__header{
    text-align: center;
  }
  .common__head__top{
    padding: 15px 0;
    font-size: 25px;
    line-height: 16px;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: var(--euphoria);
    color: var(--yellow);
    text-transform: capitalize;
  }
  .common__head__bottom{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    font-family: var(--abril-fatface);
    color: var(--white);
    text-transform: capitalize;
  }
  /* ========Common CSS Ends=========== */
  /* body{
    overflow: hidden;
  } */
  /* =============NAVBAR+BANNER  STARTS HERE==================== */
  #nav_ban{
    background: linear-gradient(var(--bg-linear1),var(--bg-linear1)), url(../images/pexels-anni-roenkae-3418396.jpg) no-repeat center/cover;
  }
  .nav__banner{
    display: flex;
  
  }
  
  /* =============NAVBAR+BANNER ENDS HERE==================== */
  /* =============NAVBAR STARTS HERE==================== */
  
  .side__nav{
    background-color: var(--nav-bg);
    list-style-type: none;
    margin: 0 auto;
    padding: 20px 10px;
    top: 0;
    left: 0;
    width: 11%;
    height: 100%; /* Full height */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
  .nav-item{
    border-top: 1px solid #55588d;
    border-width: 100%;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    padding: 10px 0;
  }
  .nav-item a{
    color: var(--white) !important;
  }
  .nav-item a:hover{
    color: var(--yellow) !important;
  }
   /* ==============NAVBAR EndS HERE==================== */
  /* =============BANNER STARTS HERE==================== */
  #banner{
    padding: 80px 20px 80px 120px;
    margin: 0 auto;
  }
  
  .banner__head{
    padding-top: 100px;
    font-family: var(--pt-sarif);
    font-size: 50px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--head-white);
  }
  .banner__right{
    margin-left: 120px;
  }
  .banner__img{
    width: 350px;
    height: 350px;
  }
  .banner__img img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .title__wrap{
    position: relative;
    height: 100px; /* Adjust height as needed */
    width: 700px; /* Adjust width as needed */
    overflow: hidden;
    perspective: 800px;
  }
  .creative{
    position: absolute;
    width: 25%;
    left: 0px;
    top: 45px;
    text-align: center;
    font-family: var(--pt-sarif);
    font-size: 32px;
    color: var(--white);
  }
  .text {
    position: absolute;
    bottom: -100px; /* Hide the text initially */
    width: 70%;
    text-align: center;
    font-family: var(--euphoria);
    font-size: 40px;
    color: var(--yellow);
    transform-origin: bottom;
    transition: transform 0.5s;
  }
  
  .text.show {
    bottom: 0;
    transform: rotateX(0deg);
  }
  
  .text.hide {
    transform: rotateX(180deg);
  }
  
  .text.show:last-child {
    transition-delay: 0.3s; /* Delay the appearance of the last text for a smooth loop */
  }
  
  .text.show:last-child.hide {
    transition-delay: 0s; /* Reset the transition delay for a seamless loop */
  }
  
  .social__wrap{
    margin: 35px 0 0 125px;
    display: flex;
    gap: 20px;
  }
  .social__link{
    font-size: 20px;
    color: var(--yellow);
  }
   /* ==============BANNER EndS HERE================== */
   
  /* =============About Me STARTS HERE================ */
  #about{
    background: linear-gradient(var(--bg-linear2),var(--bg-linear3));
    padding: 80px 0;
    margin-left: 11%;
  }
  .about__right{
    margin: 150px 20px 0 30px;
  }
  .about__head{
    font-size: 20px;
    line-height: 16px;
    font-weight: 400;
    font-family: var(--pt-sarif);
    color: var(--head-color1);
    text-transform: capitalize;
    padding-bottom: 30px;
  }
  .about__p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--pt-sarif);
    color: #9b9af1;
  }
  .tab-item{
    padding: 0 20px;
  }
  button.nav-link{
    padding: 10px 30px !important;
    color: var(--white) !important;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--pt-sarif);
  }
  .tab-link.active{
    background-color: var(--pink) !important;
  }
  .about__table{
    display: flex;
    column-gap: 60px;
  }
  .table__title{
    font-size: 18px;
    font-family: var(--pt-sarif);
    color: var(--white);
  }
  .table__p{
    font-size: 16px;
    font-family: var(--pt-sarif); 
    color: var(--head-color1);
    text-align: end;
  }
  .job__head{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--pt-sarif);
    color: var(--white);
  }
  .job__place{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--pt-sarif);
    color: var(--head-color1);
  }
  .job__year{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--pt-sarif);
    color: var(--white);
    padding: 10px;
    background-color: var(--pink);
    border-radius: 10px;
  }
  .job__p{
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-family: var(--pt-sarif);
    color: var(--white);
  }
  .education__item__wrap{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .education__item{
    border: 1px solid var(--pink);
    width: 500px;
    padding: 0 20px;
  }
  .progress__wrap{
    margin-top: 40px;
    display: flex;
    gap: 40px;
  }
  .progress-bar {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: transparent;
  }
  .progress__h{
    font-size: 20px;
    color: var(--head-white); 
    margin-top: 30px;
    margin-bottom: -5rem;
  }
  
  #progress-
  .progress-circle {
    width: 100%;
    height: 100%;
  }
  
  .progress {
    fill: transparent;
    stroke: #3d54c8;
    stroke-width: 10;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.8s ease-in-out;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: var(--head-white);
  }
  
   /* ==============About Me EndS HERE==================== */
  /* =============SERVICE STARTS HERE==================== */
  #service{
    background: linear-gradient(var(--bg-linear3),var(--bg-linear4));
    padding: 80px 0 80px 10px;
    margin-left: 11%;
  } 
  .service__wrap{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .service__item{
    width: 345px;
    padding: 20px;
  }
  .service__item:hover{
    background:linear-gradient( var(--pink),var(--bg-linear3));
  }
  .service__icon{
    font-size: 40px;
    color: var(--yellow);
  }
  .service__title{
    text-transform: capitalize;
    margin: 35px 0;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--pt-sarif);
    color: var(--white);
  }
  .service__p{
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    font-family: var(--pt-sarif);
    color: #c4c4c4;
    
  }
  /* ==============SERVICE EndS HERE==================== */
  /* =============Portfolio STARTS HERE==================== */
  #portfolio{
    background: linear-gradient(var(--bg-linear4),var(--bg-linear3));
    padding: 80px 0 80px 10px;
    margin-left: 11%;
  } 
  .portfolio__menu{
    margin: 30px 5px;
    display: flex;
    gap: 30px;
  
  }
  
  .portfolio__btn{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #e3e2e2;
    border-style: none;
    background:#7042a9;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .portfolio__item__wrap{
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: all linear 0.3s;
  }
  .portfolio__item{
    width: 345px;
    background: linear-gradient(#7333c1,#9384a4);
    text-align: center;
    padding: 10px 8px 20px 8px;
    border-radius: 5px;
  }
  .portfolio__item__img{
    width: 330px;
    height: 280px;
    object-fit: cover;   
    text-align: center;
    object-position:50% 50%;
  }
  
  .portfolio__item__img img{
    max-width: 100%;
    max-height: 100%; 
  }
  .portfolio__item__head{
    margin-top: 10px;
    font-family: var(--pt-sarif);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #e3e2e2;
  }
  .portfolio__link{
    font-size: 16px;
    font-family: var(--pt-sarif); 
   font-weight: 400;
   color: var(--yellow);
   
  }
   /* ==============Portfolio EndS HERE==================== */
   /* =============Blog STARTS HERE==================== */
  #blog{
     background: linear-gradient(var(--bg-linear3),var(--bg-linear4));
    padding: 80px 18px;
    margin-left: 11%;
  }
  .blog__wrap{
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  .blog__item{
    width: 345px;
    padding: 10px;
    background:var(--ash);
    text-align: center;
  }
  .blog__img{
    width: 330px;
    height: 250px;
    object-fit: cover;
  }
  .blog__date__wrap{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
  }
  .blog__date{
    font-family: var(--pt-sarif);
    font-weight: 400;
    font-size: 14px;
    color: #dad774fe;
  }
  .blog__link{
    font-family: var(--pt-sarif);
    font-weight: 400;
    font-size: 14px;
    color: #dad774fe;
  }
  .blog__head{
    font-family: var(--pt-sarif);
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: var(--head-color1);
  }
  .blog__p{
    font-family: var(--pt-sarif);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--head-white);
  }
   /* ==============Blog EndS HERE==================== */
  /* =============Contact STARTS HERE==================== */
  #contact{
    background: linear-gradient(var(--bg-linear4),var(--bg-linear3));
    padding: 80px 0;
    margin-left: 10%;
  } 
  .connect{
    margin: 50px 0 0 50px;
  }
  .connect__head{
    font-family: var(--pt-sarif);
    font-weight: 400;
    font-size: 26px;
    color: var(--head-color1);
  }
  .connect__p,.connect__p1{
    margin: 40px 0;
    font-family: var(--pt-sarif);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--head-white);
  }
  .connect__p1{
    margin: 0 0 10px 0;
  }
  .nam,.email{
    width: 300px;
    height: 40px;
    padding: 10px;
  }
  .comment{
    width: 300px;
    height: 80px;
    padding: 10px;
  }
  .nam_err,.email_err,.pass_err{
    color: red;
  }
  
  .connect__form{
    width: 300px;
    margin: 50px 0 0 150px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  
  .connect__form button{
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    background:var(--head-color1);
  }
   /* ==============Contact EndS HERE==================== */
  
  /* =============Color Switcher STARTS HERE=========== */
  .color_switch ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  .color_switch ul li{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--ash);
    list-style-type: none;
    color: var(--head-white);
    cursor: pointer;
  }
  .light .color_switch ul li {
    background-color: var(--sky-blue);
    color: var(--yellow);
  }
  #dark i{
    padding-top: 3px;
    color: var(--black);
    font-size: 20px;
  }
  .light .common__head__bottom {
    color: var(--ash);
  }
  .light .common__head__top {
    color: var(--blue);
  }
  /* ---------Nav Light------- */
  .light .side__nav{
    background-color: var(--head-white);
  }
  .light .nav-item a {
    color: var(--black) !important;
  }
  .light .navbar-toggler {
    background-color: var(--sky-blue);
  }
  /* ----------Banner Light--------- */
  .light #nav_ban{
    background:  url(../images/banner-light.jpg) no-repeat center/cover;
  }
  .light .banner__head {
    color: var(--blue);
  }
  .light .creative{
    color: var(--blue);
  }
  .light .text{
    color: var(--black);
  }
  .light .social__link {
    color: var(--blue);
  }
  /* ----------About me Light------- */
  .light #about {
    background: linear-gradient(var(--head-white),var(--light-sky));
  }
  .light .about__head {
    color: var(--blue);
  }
  .light .about__p {
    color: var(--ash);
  }
  .light .tab-link.active {
    background-color: var(--sky-blue) !important;
  }
  .light button.nav-link {
    color: var(--black) !important;
  }
  .light .table__title {
    color: var(--black);
  }
  .light .nav-tabs .nav-link {
    border: var(--ash) solid transparent;
  }
  .light tbody, td, tfoot, th, thead, tr {
    border-color: var(--ash);
  }
  .light .table__p {
    color: var(--ash);
  }
  .light .job__head {
    color: var(--black);
  }
  .light .job__place {
    color: var(--ash);
  }
  .light .job__p {
    color: var(--ash);
  }
  .light .job__year {
    color: var(--black);
    background-color: var(--sky-blue);
  }
  .light.progress {
    stroke: var(--sky-blue);
  }
  .light .education__item {
    border: 1px solid var(--ash);
  }
  .light .progress-bar {
    color: var(--black);
  }
  .light .progress {
    stroke: var(--blue);
  }
  .light .progress__h {
    color: var(--ash);
  }
  .light .progress-text {
    color: var(--ash);
  }
  /* ----------Service Light----------- */
  .light #service {
    background: linear-gradient(var(--light-sky),var(--head-white));
  }
  .light .service__icon {
    font-size: 40px;
    color: var(--yellow-dark);
  }
  .light .service__title {
    color: var(--blue);
  }
  .light .service__p {
    color: var(--ash);
  }
  .light .service__item:hover{
    background:var(--sky-blue);
  }
  /* -----------portfolio Light---------- */
  .light #portfolio {
    background: linear-gradient(var(--head-white),var(--light-sky));
  }
  .light .portfolio__btn {
    color: var(--black);
    background: var(--sky-blue);
  }
  .light .portfolio__item {
    background: linear-gradient(var(--light-sky),var(--sky-blue));
  }
  .light .portfolio__item__head {
    color: var(--black);
  }
  .light .portfolio__link {
    color: var(--yellow-dark);
  }
  /* ---------Blog Light---------- */
  .light #blog {
    background: linear-gradient(var(--light-sky),var(--head-white));
  }
  .light .blog__item {
    background: linear-gradient(var(--sky-blue),var(--ash));
  }
  /* -----------Contact Light--------- */
  .light #contact {
    background: linear-gradient(var(--head-white),var(--light-sky));
  }
  .light .connect__head {
    color: var(--black);
  }
  .light .connect__p,.light .connect__p1 {
    color: var(--ash);
  }
  .light .connect__form button {
    background: var(--ash);
    color: var(--head-white);
  }
   /* ==============Color Switcher EndS HERE==========  */
  
  
  /* font-family: var(--abril-fatface);
  font-family: var(--euphoria);
  font-family: 'Fira Sans', sans-serif;
  font-family: var(--pt-sarif); 
  #807eef */